<div class="list list-row block">
    
    <div class="list-item" data-id="19">
        <div><a (click)="eliminar()" data-abc="true"><span class="w-48 avatar gd-primary">
            <img src="/assets/images/boton-eliminar.png" />
        </span></a></div>
        <div class="flex">
            <a class="item-author text-color" data-abc="true">jhon bernal</a>
            <div class="item-except text-muted text-sm h-1x"> dsfsdfsdf sdfsd sdfsd fsdf sd sd</div>
        </div>
        <div class="no-wrap">
            <div class="item-date text-muted text-sm d-none d-md-block">13/12/18
            </div>
        </div>
    </div>
    
</div>
